@using TamsEmail.Views.Templates
@model DisputeRequestSubmittedViewModel

<p>Hello @Model.Salutation,</p>

<p>Your Dispute Request has been successfully submitted to TAMS. If you submitted a Dispute Request for a TSA with multiple Sub-TSAs, 
    each request will be tracked separately. The <span style="font-weight: bold">Dispute Log ID Number(s)</span> that will be used to track this request is/are as follows:</p>

@await Html.PartialAsync("_LogNumbersList", Model.LogNumbers)  

<p>A copy of your submission is included below for your records.</p>

<p>
    @await Html.PartialAsync("_RequestDetails", Model.RequestDetails())
    <span style="font-weight: bold;">Reason for Dispute:</span><br />
    @Model.Comments
</p>

<p>You will receive a notification when there is a status change related to this request. If you have questions or need further assistance, contact a member of the Ankura team at 
    <a href="mailto:@(Model.SupportEmailAddress)">@Model.SupportEmailAddress</a>. Please be sure to include the Dispute Log ID Number(s) in your inquiry.</p>
